= render_ce 'projects/protected_branches/create_protected_branch',
  extra_toggle_classes: %w[js-multiselect],
  dropdown_classes: %w[dropdown-menu-user],
  filter: true,
  merge_access_levels_attributes_field_name: nil,
  push_access_levels_attributes_field_name: nil
