- form_field = local_assigns.fetch(:form_field, nil)
- variable = local_assigns.fetch(:variable, nil)

- if @project && @project.feature_available?(:variable_environment_scope)
  - environment_scope = variable&.environment_scope || '*'
  - environment_scope_label = environment_scope == '*' ? s_('CiVariable|All environments') : environment_scope

  .ci-variable-body-item.ci-variable-environment-dropdown-wrapper.js-variable-environment-dropdown-wrapper.table-section.section-30
    %input.js-variable-environment-trigger.ci-variable-environment-trigger{ name: "#{form_field}[variables_attributes][][environment_scope]", 
    value: environment_scope }
