.ci-variable-list {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  clear: both;

  .table-section {
    font-size: $gl-font-size;

    &:not(:first-child) {
      padding-left: $gl-btn-padding;
    }
  }
}

.ci-variable-row {
  align-items: flex-start;
  position: relative;

  @include media-breakpoint-down(xs) {
    align-items: flex-end;
    border: none;
  }

  &:not(:last-child) {
    border-bottom: none;
  }

  &:last-child {
    .ci-variable-body-item:last-child {
      margin-right: $ci-variable-remove-button-width;

      @include media-breakpoint-down(xs) {
        margin-right: 0;
      }
    }

    .ci-variable-row-remove-button {
      display: none;
    }

    @include media-breakpoint-down(xs) {
      .ci-variable-row-body {
        margin-right: $ci-variable-remove-button-width;
      }
    }
  }
}

.ci-variable-row-body {
  display: flex;
  align-items: flex-start;
  width: 100%;

  @include media-breakpoint-down(xs) {
    display: block;
  }
}

.ci-variable-body-item {
  flex: 1;

  &:not(:first-child) {
    padding-left: $gl-btn-padding;
  }

  &:last-child {
    padding-left: 0;
  }

  &:not(:last-child) {
    padding-right: $gl-btn-padding;

    @include media-breakpoint-down(xs) {
      border: none;
      min-height: unset;
    }
  }
}

.ci-variable-protected-item {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ci-variable-row-remove-button {
  @include transition(color);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $ci-variable-remove-button-width;
  height: $input-height;
  padding: 0;
  background: transparent;
  border: 0;
  color: $gl-text-color-secondary;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    color: $gl-text-color;
  }

  &[disabled] {
    color: $gl-text-color-disabled;
  }
}

.ci-variable-environment-trigger {
  .select2-choices .select2-search-choice {
    border: none;
    background: transparent;
  }

  .select2-search-choice-close {
    display: none;
  }
}

.ci-variable-environment-scope-help-text {
  display: block;
  margin: ($gl-padding-8 * -1) ($gl-padding * -1);
  padding: $gl-padding-8 $gl-padding;
  background: white;
}

.ci-variable-environment-dropdown-wrapper +
.ci-variable-row-remove-button {
  @include media-breakpoint-down(xs) {
    position: absolute;
    border: none;
    right: $gl-padding * -2;
    bottom: $gl-btn-padding;
    min-height: auto;
  }
}
