.feature-highlight {
  @include webkit-prefix(animation, pulse-highlight 2s infinite);

  margin-left: 16px;
  width: 8px;
  height: 8px;
  background-color: $blue-500;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(31, 120, 209, 0.4);

  &:hover,
  &.disable-animation {
    @include webkit-prefix(animation, none);
  }

  &[disabled] {
    display: none;
  }
}

.is-showing-fly-out {
  .feature-highlight {
    display: none;
  }
}

.feature-highlight-popover-content {
  display: none;

  hr {
    margin: $gl-padding * 0.5 0;
  }

  // Extend btn-link because it is being overriden by default
  .btn-link {
    @extend .btn-link;

    &:hover {
      @extend .btn-link:hover;
    }

    &:focus {
      @extend .btn-link:focus;
    }

    &:active {
      @extend .btn-link:active;
    }

    svg path {
      fill: currentColor;
    }
  }

  .dismiss-feature-highlight {
    padding: 0;
  }

  img {
    width: 100%;
    padding: 25px 14px 0;
    background-color: rgb(239, 237, 249);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: 1px solid #e1e1e1;
  }
}

.popover .feature-highlight-popover-content {
  display: block;
}

.feature-highlight-popover {
  padding: 0;

  .popover-content {
    padding: 0;
  }

  &.popover > .arrow::after {
    border-right-color: rgb(239, 237, 249);
  }
}

.feature-highlight-popover-sub-content {
  padding: 9px 14px;
}

@include keyframes(pulse-highlight) {
  0% {
    @include webkit-prefix(box-shadow, 0 0 0 0 rgba(31, 120, 209, 0.4));
  }

  70% {
    @include webkit-prefix(box-shadow, 0 0 0 10px rgba(31, 120, 209, 0));
  }

  100% {
    @include webkit-prefix(box-shadow, 0 0 0 0 rgba(31, 120, 209, 0));
  }
}
