= render_ce 'projects/protected_tags/create_protected_tag',
  extra_toggle_class: %w[js-multiselect],
  dropdown_classes: %w[dropdown-menu-user],
  filter: true,
  create_access_levels_attributes_field_name: nil
