= render layout: 'projects/protected_tags/shared/protected_tag', locals: { protected_tag: protected_tag } do
  %td
    = render 'projects/protected_tags/protected_tag_access_summary', protected_tag: protected_tag
