= render 'projects/settings/access_level_dropdown',
  protected_tag: protected_tag,
  access_levels: protected_tag.create_access_levels,
  input_basic_name: 'create_access_levels',
  toggle_class: 'js-allowed-to-create'
