- return unless current_user.admin? && License.feature_available?(:repository_size_limit)

- form = local_assigns.fetch(:form)
- type = local_assigns.fetch(:type)
- label_class = (type == :project) ? 'label-bold' : 'col-form-label col-sm-2'

.row
  .form-group.col-sm-12
    = form.label :repository_size_limit, class: 'label-bold' do
      Repository size limit (MB)
  .form-group
    .col-sm-3
      = form.number_field :repository_size_limit, value: form.object.repository_size_limit.try(:to_mb), class: 'form-control', min: 0
    .col-sm-12
      %span.form-text.text-muted#repository_size_limit_help_block
        = (type == :project) ? size_limit_message(@project) : size_limit_message_for_group(@group)
