.epic-sidebar {
  .block.date {
    .help-icon,
    .date-warning-icon {
      &:hover {
        cursor: pointer;
      }
    }

    .help-icon {
      color: $gl-text-color-secondary;
    }

    .date-warning-icon {
      color: $orange-500;
      margin-top: -1px;
    }

    .value-type-fixed,
    .value-type-dynamic {
      color: $gl-text-color-secondary;

      .value-content {
        margin-left: 2px;
      }

      &.is-option-selected {
        > span {
          color: $gl-text-color;
          font-weight: $gl-font-weight-bold;
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .epic-page-container {
    .detail-page-header {
      display: flex;
    }

    .detail-page-header-actions {
      width: auto;
      margin-top: 0;
    }
  }
}

.tooltip .tooltip-inner .milestone-date-range {
  color: $gl-text-color-tertiary;
}




.surprise-epic {
  height: 50px;
  opacity: 1;
  transition: height 5s, opacity 5s;
  overflow: hidden;

  * {
    display: initial !important;

  }

  .epic-timeline-cell {
    // overflow: hidden !important;
  }
}


.hidden-epic {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 1s, opacity 1s;

  .epic-details-cell {
    height: 0 !important;
    padding: 0 !important;
  }

  * {
    display: none !important;
  }
}

