.odds-md-pad-right:nth-child(odd) {
  padding: 0;

  @include media-breakpoint-up(md) {
    padding-right: $gl-padding-8;
  }
}

.evens-md-pad-left:nth-child(even) {
  padding: 0;

  @include media-breakpoint-up(md) {
    padding-left: $gl-padding-8;
  }
}

.ops-dashboard-projects {
  margin-right: -$gl-padding-8;
  margin-left: -$gl-padding-8;

  &-card {
    padding-left: $gl-padding-8;
    padding-right: $gl-padding-8;
  }
}

.ops-dashboard-project {
  background-color: $gray-50;
  border-color: transparent;

  &-header {
    background-color: $gray-100;
    border-color: transparent;
    height: 50px;

    &-warning {
      background-color: $orange-100;
    }

    &-failed {
      background-color: $red-100;
    }

    .avatar-container {
      border: 1px solid $issue-boards-card-shadow;
      border-radius: $border-radius-default;
    }
  }

  &-card {
    &-body {
      height: 119px;
    }

    &-warning {
      background-color: $orange-50;
    }

    &-failed {
      background-color: $red-50;
    }
  }

  &-empty-state {
    font-size: $gl-font-size-small;
  }

  &-commit {
    .icon-container,
    .commit-icon {
      display: inline;
      vertical-align: middle;
    }

    .commit-icon {
      color: $gl-text-color-tertiary;
    }

    .ref-name {
      font-weight: $gl-font-weight-bold;
      color: $gl-text-color;
    }
  }

  &-time-ago {
    color: $gray-700;

    &-icon {
      color: $gray-500;
      vertical-align: text-bottom;
    }
  }

  &-pipeline {
    background-color: $gray-100;
    border-radius: 20.5px;
    height: 32px;
    padding: $gl-padding-4 $gl-padding-8;
    margin-top: $gl-padding;

    &-failed {
      background-color: $red-100;
    }

    &-arrow {
      color: $gray-300;
      vertical-align: text-top;
    }

    &-downstream {
      margin-right: -$gl-padding-4;
      position: relative;
    }

    &-icon {
      vertical-align: middle;
    }

    &-extra {
      background-color: $gray-400;
      border-radius: $avatar-radius;
      color: $white-light;
      display: inline-block;
      font-size: 10px;
      font-weight: $gl-font-weight-bold;
      height: $gl-padding;
      line-height: $gl-line-height;
      margin-left: -$gl-padding-4;
      width: $gl-padding;
      vertical-align: text-top;
      z-index: 1;

      &:hover {
        color: $white-light;
        text-decoration: none;
      }
    }
  }

  &-alert-icon {
    vertical-align: text-bottom;
  }

  &-skeleton {
    &-avatar {
      background-color: $gray-100;
      border-radius: $avatar-radius;
      height: $gl-padding-24;
      width: $gl-padding-24;
    }

    &-info {
      background-color: $gray-100;
      border-radius: $gl-padding;
      height: $gl-padding;
      width: 134px;
    }

    &-pipeline {
      background-color: $gray-100;
      border-radius: 20.5px;
      height: $gl-padding-32;
    }
  }
}

.tokenized-input-wrapper {
  height: auto;
  padding: 2px $gl-padding-8;

  &.focus,
  &.focus:hover {
    border-color: $blue-300;
    box-shadow: 0 0 4px $dropdown-input-focus-shadow;
  }

  .tokenized-input {
    width: auto;
    border: 0;
    margin: $gl-bar-padding 0;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .input-token {
    word-break: break-all;
    background-color: $gray-lighter;
    margin: $gl-bar-padding 0;
  }

  .tokenized-input-token-remove {
    background-color: $gray-normal;
    margin: $gl-bar-padding $gl-padding-4 $gl-bar-padding 0;
  }
}
