= group_view_nav_link(group_view: :details, path: ['groups#show', 'groups#details', 'groups#subgroups'], html_options: { class: 'home' }) do
  = link_to details_group_path(@group), title: _('Group details') do
    %span
      = _('Details')
