%section.settings.expanded.border-0.no-animate
  .settings-header
    %h4= _("Incidents")
    %p
      = _("Create issues from Prometheus alerts. Issues are created for each alert triggered.")
      = link_to '/helpTODO' do
        = _("More information")
  .settings-content
    %input{ type: :checkbox }
    Active