- project = find_project_for_blob(blob)
- file_name = parse_search_blob_file_name(blob)
- blob = parse_search_blob(blob)
- blob_link = search_blob_link(blob, project, file_name)

= render partial: 'search/results/blob_data', locals: { blob: blob, project: project, file_name: file_name, blob_link: blob_link }
