- project = find_project_for_blob(wiki_blob)
- file_name = parse_search_blob_file_name(wiki_blob)
- wiki_blob = parse_search_blob(wiki_blob)
- wiki_blob_link = search_wiki_blob_link(wiki_blob, project)

= render partial: 'search/results/blob_data', locals: { blob: wiki_blob, project: project, file_name: file_name, blob_link: wiki_blob_link }
